/target/
.tools/
/server/fcb-server
.fcb/
fcb.yaml
*.tmp
.dart_tool/
.flutter-plugins-dependencies
build/
pubspec.lock
packages/fcb_code_push/native/
packages/fcb_code_push/android/src/main/jniLibs/

vendor/.cache/
examples/counter_app/android/target
examples/counter_app/target/fcb/phase-d-android-arm64/
examples/counter_app/target/fcb/flutter-home/
examples/counter_app/target/fcb/pub-cache/